@import '~@wordpress/base-styles/colors';

.newspack-ads-ad-unit {
	margin: 0 0 28px;
	max-width: 100%;
	max-width: calc( 100vw - 28px );
	overflow-x: hidden;
	position: relative;
	width: 100%;

	@media screen and ( min-width: 600px ) {
		max-width: calc( 100vw - 116px );
	}

	.components-placeholder {
		border: 1px solid $gray-900;
		border-radius: 0;
		box-shadow: none;
		min-height: 100px;

		&__label {
			display: none;
		}
	}

	.components-spinner {
		left: 50%;
		margin: -9px 0 0 -9px;
		position: absolute;
		top: 50%;
	}
}

// Align center
.wp-block[data-type='newspack-ads/ad-unit'] {
	&[data-align='center'] {
		.components-placeholder {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
